:root {
  --main-red: #d30913;
  --main-dark: #141414;
  --main-deep-dark: #000;
  --main-grey: #999;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  background: var(--main-dark);
  color: #fff;
}

a {
  text-decoration: none;
}
